node_modules/
.env
.DS_Store
*.log

# ML models & data (upload separately)
ml/models/
ml/data/images/
ml/data/text/*.csv
__pycache__/
*.pyc

# Next.js build
frontend/.next/
frontend/out/

# Datasets
*.tar.gz
ml/data/CrisisMMD_v2.0/
ml/data/
